#################################
# Sistema / Editor
#################################
.DS_Store
Thumbs.db
.vscode/
.idea/

#################################
# Entorno / secretos
#################################
.env
.env.*

# Como ya no contiene secretos rales y es necesario para el despliegue en Railway, se ha eliminado de la lista de ignorados
# src/backend/app/Config/database.php

#################################
# PHP / Composer
#################################
vendor/


#################################
# Node / Frontend
#################################
node_modules/

#################################
# Docker / Base de datos
#################################
mysql_data/
*.pid

#################################
# Subidas de usuarios
#################################
src/backend/public/uploads/

#################################
# Logs / temporales
#################################
*.log
/tmp/
cache/
